<%= search_form_for @search, html: {class: 'form-inline'} do |f| %>
  <div class="form-group">
    <%= f.label :title_cont, "Buscar título" %>
    <%= f.search_field :title_cont, class: "form-control" %>
  </div>
  <%= f.submit :class => "btn btn-default" %>
<% end %>
<hr>
<div id="books" class="responsive-fake-table expansible-fake-table">
  <header class="row">
    <div class="col col-xs-5 col-sm-4 col-md-3">
      <%= sort_link(@search, :title, t('activerecord.attributes.book.title'), default_order: :desc) %>
    </div>
    <div class="col col-xs-5 col-sm-3 col-md-3">
      <%= t('activerecord.attributes.book.author')%>
    </div>
    <div class="col hidden-xs col-sm-4 col-md-3">
      <%= sort_link @search, :editorial, t('activerecord.attributes.book.editorial'), default_order: :desc %>
    </div>
    <div class="col hidden-xs hidden-sm col-md-2">
      <%= sort_link @search, :edition, t('activerecord.attributes.book.edition'), default_order: :desc %>
    </div>
    <div class="col col-xs-2 col-sm-1 col-md-1"><span class="hidden-sm hidden-xs">Opciones</span>&nbsp;</div>
  </header>
  <% @books.each do |book|%>
    <section class="row">
      <div class="col col-xs-5 col-sm-4 col-md-3 toggle"><%=book.title %></div>
      <div class="col col-xs-5 col-sm-3 col-md-3 toggle"><%=book.authors_list%></div>
      <div class="col hidden-xs col-sm-4 col-md-3 toggle"><%=book.editorial.name%></div>
      <div class="col hidden-xs hidden-sm col-md-2 toggle"><%=book.edition%></div>
      <div class="col col-xs-2 col-sm-1 col-md-1">
        <%= link_to content_tag('i','', class: 'fa fa-eye'), book, class: 'tooltipable', title: 'Ver' %>
        <%= link_to content_tag('i','', class: 'fa fa-pencil-square-o'), edit_book_path(book), class: 'tooltipable', title: 'Editar' %>
        <%= link_to content_tag('i','', class: 'fa fa-times'), book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'tooltipable', title: 'Eliminar' %>

      </div>
      <div class="col col-xs-12 panel-collapse collapse">
        <dl class="dl-horizontal">

          <dt class="visible-xs"><%=t('activerecord.attributes.book.editorial') %></dt>
          <dd class="visible-xs"><%=book.editorial.name || '-' %></dd>

          <dt><%=t('activerecord.attributes.book.original_title') %></dt>
          <dd><%=book.original_title || '-' %></dd>

          <dt class="visible-xs visible-sm"><%=t('activerecord.attributes.book.edition') %></dt>
          <dd class="visible-xs visible-sm"><%=book.edition || '-' %></dd>

          <dt><%=t('activerecord.attributes.book.edition_date') %></dt>
          <dd><%=book.edition_date.present? ? l(book.edition_date) : '-' %></dd>

          <dt><%=t('activerecord.attributes.book.publication_year') %></dt>
          <dd><%=book.publication_year || '-' %></dd>

          <dt></dt>
          <dd>
          </dd>
        </dl>
        <%= link_to 'Ver más', book, class: 'btn btn-default btn-xs more-book-btn' %>
      </div>
    </section>
  <% end %>
</div>
<%= paginate @books %>
